node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
google-services.json 
GoogleService-Info.plist
.DS_Store
.env
pc-api-6666232843318496031-23-cb3fc956a13c.json
tests/__snapshots__
graphql.schema.json
