node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
.env
pc-api-6666232843318496031-23-cb3fc956a13c.json
util_components
tests/__snapshots__

