<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>761460499269-c5273jg8q9mkr9ji1h03csg6vdv0gg8o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.761460499269-c5273jg8q9mkr9ji1h03csg6vdv0gg8o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>761460499269-f5bqp0e3bcfkr536hma7e4u3ju5p1hj4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB_qool14EsXwWWfvd_UZ8I5cM5QX6BOwk</string>
	<key>GCM_SENDER_ID</key>
	<string>761460499269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rpgym</string>
	<key>PROJECT_ID</key>
	<string>rpgym-292308</string>
	<key>STORAGE_BUCKET</key>
	<string>rpgym-292308.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:761460499269:ios:b6c0d02287a438bbac142c</string>
	<key>DATABASE_URL</key>
	<string>https://rpgym-292308.firebaseio.com</string>
</dict>
</plist>