<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>850460049838-kdmp621dt6t3e589uia4u57bg03rnb6d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.850460049838-kdmp621dt6t3e589uia4u57bg03rnb6d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>850460049838-l5krkpl1pnq72idqjp16883j09eg7p3k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBb84wmkPkCqyvQ6xxOz3OcWOJyzU4iZnk</string>
	<key>GCM_SENDER_ID</key>
	<string>850460049838</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.statbuff</string>
	<key>PROJECT_ID</key>
	<string>stat-buff-302913</string>
	<key>STORAGE_BUCKET</key>
	<string>stat-buff-302913.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850460049838:ios:c07cacc5897b63d7bb883f</string>
</dict>
</plist>